<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component_Name Component's Page</title>
</head>
<body>
    <div class="component-container">
        <div class="c-actions">
            <ul class="c-actions__list">
                <li class="c-actions__item">
                    <span class="c-actions__title">طلبات تحتاج المعاله</span>
                    <a href="#" class="c-actions__btn c-button">مشاهدة الطلبات</a>
                </li>
                <hr>
                <li class="c-actions__item">
                    <span class="c-actions__title">رسائل تحتاج الاجابه</span>
                    <a href="#" class="c-actions__btn c-button">مشاهده الرسائل</a>
                </li>
                <hr>
                <li class="c-actions__item">
                    <span class="c-actions__title">منتجات ضروريه علي وشك النفاذ</span>
                    <a href="#" class="c-actions__btn c-button">مشاهدة النتجات</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>