<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component_Name Component's Page</title>
</head>
<body>
    <div class="component-container">
        <div class="c-Component_Name">
            <div class="c-list">
                <img src="../assets/images/black-shirt.jpg" alt="" class="c-list__media">
                <span class="media-data">Mقميص اسود</span>
                <span class="media-data">علي جابر</span>
                <span class="media-data">مصر</span>
                <span class="media-data">20$</span>
                <div class="c-list__actions">
                    <a href="#" class="c-btn c-btn--primary c-btn--small">تم الشحن</a>
                    <a href="#" class="c-btn c-btn--small">تواصل</a>
                    <a href="#" class="c-btn c-btn--danger c-btn--small">حذف الطلب</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>