<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component_Name Component's Page</title>
</head>
<body>
    <div class="component-container">
        <div class="c-table">
            <header class="c-table__header">
                <div class="c-table__products">
                    <h1 class="c-table__title">انمنتجات</h1>
                    <button class="c-table__actions c-button c-btn--primary">حذف</button>
                </div>
                
                <div class="c-table__navigation">  
                    <span class="c-table-navigation__caption">6 من اصل 24</span>      
                    <button class="c-table__navigation--item c-btn--icon"><i class="c-icon c-icon-arrow-right2"></i></لاع>
                    <button class="c-table__navigation--item c-btn--icon"><i class="c-icon c-icon-arrow-left2"></i></button>
                </div>
            </header>
            <table class="c-table__data">
                <thead>
                    <tr class="c-table__row">
                        <th>
                            <input type="checkbox" id="select-all">
                        </th>
                        <th>
                            تحديد الكل
                        </th>
                        <th>
                            المنتج
                        </th>
                        <th>
                            السعر الرئيسي
                        </th>
                        <th>
                            السعر المحلي
                        </th>
                        <th>
                            الكميه
                        </th>
                        <th>المبيعات</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="c-table__row">
                        <td>
                            <input type="checkbox" id="item-1" name="item-1">
                        </td>
                        <td>
                            <img class="c-table__image" src="../assets/images/black-shirt.jpg" alt="">
                        </td>
                        <td>قميص اسود</td>
                        <td>20$</td>
                        <td>150 جم</td>
                        <td>22</td>
                        <td>70</td>
                    </tr>
                    <tr class="c-table__row">
                        <td>
                            <input type="checkbox" id="item-1" name="item-1">
                        </td>
                        <td>
                            <img class="c-table__image" src="../assets/images/black-shirt.jpg" alt="">
                        </td>
                        <td>قميص اسود</td>
                        <td>20$</td>
                        <td>150 جم</td>
                        <td>22</td>
                        <td>70</td>
                    </tr>
                    <tr class="c-table__row">
                        <td>
                            <input type="checkbox" id="item-1" name="item-1">
                        </td>
                        <td>
                            <img class="c-table__image" src="../assets/images/black-shirt.jpg" alt="">
                        </td>
                        <td>قميص اسود</td>
                        <td>20$</td>
                        <td>150 جم</td>
                        <td>22</td>
                        <td>70</td>
                    </tr>
                    <tr class="c-table__row">
                        <td>
                            <input type="checkbox" id="item-1" name="item-1">
                        </td>
                        <td>
                            <img class="c-table__image" src="../assets/images/black-shirt.jpg" alt="">
                        </td>
                        <td>قميص اسود</td>
                        <td>20$</td>
                        <td>150 جم</td>
                        <td>22</td>
                        <td>70</td>
                    </tr>
                    <tr class="c-table__row">
                        <td>
                            <input type="checkbox" id="item-1" name="item-1">
                        </td>
                        <td>
                            <img class="c-table__image" src="../assets/images/black-shirt.jpg" alt="">
                        </td>
                        <td>قميص اسود</td>
                        <td>20$</td>
                        <td>150 جم</td>
                        <td>22</td>
                        <td>70</td>
                    </tr>
                </tbody>
            </table>
            <footer class="c-table__footer">
                <div class="c-table__navigation">  
                    <span class="c-table-navigation__caption">6 من اصل 24</span>      
                    <button class="c-table__navigation--item c-btn--icon"><i class="c-icon c-icon-arrow-right2"></i></button>
                    <button class="c-table__navigation--item c-btn--icon"><i class="c-icon c-icon-arrow-left2"></i></button>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>