$color-banner: #47c1bf;
$color-banner-light : #b7ecec;
$color-banner-lighter: #e0f5f5;
$color-banner-dark: #00848e;

.c-banner{
    @include e-card;
    background-color: $color-banner-lighter;
    padding: spacing(normal) spacing(extrawide);
    border: 0;
    border-top:4px solid $color-banner-dark ;
    position: relative;
    transition: transform 400ms ease-in-out ;
}
.c-banner__title{
    color: $color-title-subdued;
    font-weight: normal;
}
.c-banner__desc{
    font-size: 14px;
}
.c-banner__action{
    color: $color-title-subdued;
    border-color: $color-title-subdued;

    &:hover{
        background-color: transparent;
    }
}

.c-banner__icon,
.c-banner__close{
    position: absolute;
    top: spacing(normal);
}
.c-banner__close{
    left: spacing(normal);
}
.c-banner__icon{
    right: spacing(normal);
    line-height: 32px !important;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    color: $color-banner-dark;
    background-color: $color-banner-light;
    text-align: center;
}


.c-banner > *{
    transform: opacity 300ms ease ;
}
.c-banner.collapse > * {
    opacity: 0;
}
.c-banner.collapse{
    transform: scaleY(0);
    transform-origin: 50% 0;
}